## References
https://www.medi-08-data-06.work/entry/regression_stan

In [8]:
import numpy as np
import numpy.random as rd
import pandas as pd

%matplotlib inline
import matplotlib.pyplot as plt
from matplotlib import animation as ani
import matplotlib.cm as cm
#import seaborn as sns
#sns.set(style="whitegrid", palette="muted", color_codes=True)

#from tabulate import tabulate
from time import time

import pystan
from pystan import StanModel

import statsmodels.api as sm
import statsmodels.formula.api as smf

### data

In [17]:
data = pd.read_csv("./data.csv")
col_name = data.columns
data

  Region  Type  1st Size  2nd Size  1st mean  2nd mean  1st std  2nd std
0      A     1        55        51    151.36    157.27     2.94     2.98
1      B     1        53        49    151.56    156.83     3.07     3.14
2      C     0        55        53    152.22    157.08     3.20     3.21
3      D     1        53        52    153.09    156.00     2.65     2.64
4      E     1        58        55    153.22    157.24     3.07     3.03
5      F     0        55        53    153.31    157.22     3.10     3.13
6      G     0        58        53    152.98    157.81     2.49     2.45
7      H     0        59        57    153.27    158.95     3.08     3.06
8      I     1        56        51    152.67    156.82     2.82     2.92
9      J     0        56        50    155.37    161.71     3.10     3.21

In [30]:
# data preparation
Y = np.hstack([data["1st mean"], data["2nd mean"]])
Age = np.hstack([np.zeros(10), np.ones(10)])
X = np.hstack([data["Type"], data["Type"]])
X = np.hstack([X.reshape(-1,1), Age.reshape(-1,1)])
X = pd.DataFrame(X)
X.columns = ["Type", "Age"]
data_model1 =

In [29]:
formula = "PRICE ~  1 + INDUS + CHAS + RM + RAD"

    Type  Age
0    1.0  0.0
1    1.0  0.0
2    0.0  0.0
3    1.0  0.0
4    1.0  0.0
5    0.0  0.0
6    0.0  0.0
7    0.0  0.0
8    1.0  0.0
9    0.0  0.0
10   1.0  1.0
11   1.0  1.0
12   0.0  1.0
13   1.0  1.0
14   1.0  1.0
15   0.0  1.0
16   0.0  1.0
17   0.0  1.0
18   1.0  1.0
19   0.0  1.0